

:root,
[data-theme-scheme=light] {
  --color-link:  var(--color-blue-500);
  --color-link-hover:  var(--color-gray-600);
}

:root,
[data-theme-scheme=dark] {
  --color-link:  var(--color-blue-600);
  --color-link-hover:  var(--color-gray-300);
}

a {
  text-decoration: none;
  color: var(--color-link);
  
  &:hover {
    color: var(--color-link-hover);
  }
}
