@use "sass:map";

.text-xs {
  font-size: 0.8rem !important;
}
.text-sm {
  font-size: 0.9rem !important;
}
.text-lg {
  font-size: 1.2rem !important;
}
.text-xl {
  font-size: 1.4rem !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.monospace {
  font-family: monospace;
  font-weight: 300;
}



@each $color, $value in $theme-color-names {
  .text-#{$color} {
    color: var(--color-#{$color});
  }
}

@each $color, $value in $theme-color-names {
  .text-hover-#{$color} {
    &:hover {
      color: var(--color-#{$color});
    }
  }
}

@each $color, $value in $theme-color-names {
  .bg-#{$color} {
    background-color: var(--color-#{$color});
  }
}



@each $color, $value in $colors {
  @for $i from 100 through 900 {
    .bg-#{$color}-#{$i} {
      background-color: var(--color-#{$color}-#{$i});
    }
  }
}


@each $color, $value in $theme-color-names {
  .border-#{$color} {
    border-color: var(--color-#{$color});
  }
}

@each $color, $value in $colors {
  @for $i from 100 through 900 {
    .text-#{$color}-#{$i} {
      color: var(--color-#{$color}-#{$i});
    }
  }
}

@each $color, $value in $colors {
  @for $i from 100 through 900 {
    .text-hover-#{$color}-#{$i} {
      &:hover {
        color: var(--color-#{$color}-#{$i});
      }
    }
  }
}