.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: end;
}

.top {
  align-items: start;
  vertical-align: top;
}

.center {
  display: inline;
  margin: auto;
  justify-items: center;
}

.right {
  display: inline;
  margin-left: auto;
}
