legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;

  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  white-space: normal;
  
  /* Correct the color inheritance from `fieldset` elements in IE */
  color: inherit;
}

