body {
  margin: 0;

  color: var(--color-text);
  background-color: var(--color-background);

  /* Explicitly set text alignment and line height so that we can later use the `inherit` value on things like `<th>` elements */
  text-align: left;
  line-height: var(--line-height);
}

:root,
[data-color-scheme=light] {

  --color-text: #{get-color-shade("light", "gray", 30%)};
  --color-background: #{get-color-shade("light", "gray", -99%)};
  --color-surface: #{get-color-shade("light", "gray", -85%)};
}

:root,
[data-color-scheme=dark] {

  --color-text: #{get-color-shade("dark", "gray", -75%)};
  --color-background: #{get-color-shade("dark", "gray", 57%)};
  --color-surface: #{get-color-shade("dark", "gray", 52%)};
}
