body {
  margin: 0;

  color: var(--color-text);
  background-color: var(--background-color);

  /* Explicitly set text alignment and line height so that we can later use the `inherit` value on things like `<th>` elements */
  text-align: left;
  line-height: var(--line-height);
}
