@use "sass:map";

.text-xs {
  font-size: 0.8rem !important;
}
.text-sm {
  font-size: 0.9rem !important;
}
.text-lg {
  font-size: 1.2rem !important;
}
.text-xl {
  font-size: 1.4rem !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.monospace {
  font-family: monospace;
  font-weight: 300;
}

.text-white {
  color: #fff;
}


@each $color, $value in $theme-color-names {
  .text-#{$color} {
    color: var(--color-#{$color});
  }
}

@each $color, $value in $theme-color-names {
  .text-hover-#{$color} {
    &:hover {
      color: var(--color-#{$color});
    }
  }
}

@each $color, $value in $theme-color-names {
  .bg-#{$color} {
    background-color: var(--ux-color-#{$color});
  }
}



@each $color, $value in $colors {
  @for $i from 1 through 9 {
    .bg-#{$color}-#{$i}00 {
      background-color: var(--color-#{$color}-#{$i}00);
    }
  }
}


@each $color, $value in $theme-color-names {
  .border-#{$color} {
    border-color: var(--color-#{$color});
  }
}

@each $color, $value in $colors {
  @for $i from 1 through 9 {
    .text-#{$color}-#{$i}00 {
      color: var(--color-#{$color}-#{$i}00);
    }
  }
}

@each $color, $value in $colors {
  @for $i from 1 through 9 {
    .text-hover-#{$color}-#{$i}00 {
      &:hover {
        color: var(--color-#{$color}-#{$i}00);
      }
    }
  }
}