b,
strong {
  font-weight: 500;
}

small {
  font-size: 0.8rem;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

sub,
sup {
  position: relative;
  font-size: 0.7rem;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom;
}
