button {
  /* Remove the inheritance of text transform in Firefox */
  text-transform: none;

  /* Show overflow in Edge */
  overflow: visible;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  display: inline-block;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  text-align: center;
  display: inline-block;
}

button:focus {
  /* Firefox/IE bug where the transparent `button` background results in a loss of the default `button` focus styles (https://github.com/suitcss/base/) */
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  /* Correct the inability to style clickable types in iOS and Safari and WebKit bug in Android 4 */
  -webkit-appearance: button;
  appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  /* Remove inner border and padding from Firefox */
  padding: 0;
  border-style: none;
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Safari */
  -webkit-appearance: button;
}
