label {
  /* Allow labels to use `margin` for spacing. */
  display: inline-block;
  margin-bottom: .5rem;
}

label {
  box-sizing: border-box;
  font-weight: 400;
  margin-bottom: 0.4rem;
  margin-left: 4px;
}