@-ms-viewport {
  /* IE10+ doesn't honor `<meta name="viewport">` in some cases. */
  width: device-width;
}

*,
*::before,
*::after {
  /* Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border` */
  box-sizing: border-box;
}

html {
  /* Change the default font family in all browsers */
  font-family: sans-serif;

  /* Correct the line height in all browsers */
  line-height: 1.15;

  /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  /* Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so we force a non-overlapping, non-auto-hiding scrollbar to counteract */
  -ms-overflow-style: scrollbar;

  /* Change the default tap highlight to be completely transparent in iOS */
  -webkit-tap-highlight-color: transparent;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
}

template {
  display: none;
}


/* Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers) */
article, 
aside, 
dialog, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
main, 
nav, 
section {
  display: block;
}
