@use "sass:map";

@each $color, $value in $theme-color-names {

  .btn-#{$color} {
    color: var(--button-#{$color}-color);
    border-color: var(--button-#{$color}-border-color);
    background-color: var(--button-#{$color}-background-color);

    &.active {
      color: var(--button-#{$color}-active-color);
      border-color: var(--button-#{$color}-active-border-color);
      background-color: var(--button-#{$color}-active-background-color);
    }

    &:disabled {
      color: var(--button-#{$color}-disabled-color);
      border-color: var(--button-#{$color}-disabled-border-color);
      background-color: var(--button-#{$color}-disabled-background-color);
    }
  
    &:hover {
      color: var(--button-#{$color}-hover-color);
      border-color: var(--button-#{$color}-hover-border-color);
      background-color: var(--button-#{$color}-hover-background-color);
    }
  }
}
