:root {
  --button-padding-x: 1.2rem;
  --button-padding-y: 0.7rem;

  --button-sm-padding-x: 0.8rem;
  --button-sm-padding-y: 0.3rem;

  --button-lg-padding-x: 1.6rem;
  --button-lg-padding-y: 1rem;
}

.btn,
button {
  font-size: 1rem;
  padding: var(--button-padding-y) var(--button-padding-x);
}

.btn-sm {
  font-size: 0.9rem;
  padding: var(--button-sm-padding-y) var(--button-sm-padding-x);
}

.btn-lg {
  font-size: 1.2rem;
  padding: var(--button-lg-padding-y) var(--button-lg-padding-x);
}
