a {
  cursor: pointer;
  display: inline-block;

  /* Remove the gray background on active links in IE 10 */
  background-color: transparent;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
  -webkit-text-decoration-skip: objects;
}
