@use "sass:map";

$colors: (
  "gray": #6c757d,
  "red": #dc3545,
  "yellow": #ffc107,
  "green": #28a745,
  "blue": #007bff,
) !default;

$dark-offset: 30%;
$variation-offsets: (
  "light": (
    "100": -95%,
    "200": -90%,
    "300": -70%,
    "400": -50%,
    "500": 0%,
    "600": 5%,
    "700": 10%,
    "800": 20%,
    "900": 30%
  ),
  "dark": (
    "100": 52%,
    "200": 40%,
    "300": 20%,
    "400": 10%,
    "500": 0%,
    "600": -5%,
    "700": -30%,
    "800": -40%,
    "900": -50%
  )
);

@function get-color($theme, $color) {
  @if $theme == "dark" {
    @return shift-color(map-get($colors, $color), $dark-offset);
  } @else {
    @return map-get($colors, $color);
  }
}

@function get-color-shade($theme, $color, $shade) {
  @return shift-color(get-color($theme, $color), $shade);
}

@function get-color-variation($theme, $color, $variation) {
  @return shift-color(get-color($theme, $color), map-get(map-get($variation-offsets, $theme), $variation));
}
